* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

a {
      text-decoration: none;
      outline: none !important;
      color: black;
}
a:active {
      border: none;
      background: none;
}
ul, li {
      list-style-type: none;
}